


/* ----------------- Fonts --------------------- */
body {
  font-family: "Arial", Arial, serif;
  hyphens: auto;
  line-height: 1.5;
}

/* --------------------- Titles & text ------------------ */
/* Main title and subtitle */
.title {
  font-family: "Arial";
  font-size: 36pt;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #ffffff;
  color: green;
  margin-bottom: 0;
}

.subtitle {
  font-family: "Arial";
  background-color: #ffffff;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 125px;
}

.subtitle span {
  font-size: .9em;
}

/* Levels of title */
h1 {
  font-family: "Arial;
  font-size: 20pt;
  font-weight: 600;
  background-color: green;
  color: white;
  padding: 5px;
  /*box-shadow: -16px 0 0 #907f7c; */
}

h2 {
  font-family: "Arial;
  font-size: 16pt;
  font-weight: 900;
  /*color: #C51924;*/
}

h3 {
  font-family: "Arial;
  font-size: 14pt;
  font-weight: 700;
  /*text-transform: uppercase;*/
  /*color: #304160;*/
}

h4 {
  font-family: "Arial;
  font-size: 12pt;
  font-weight: 400;
  color: rgba(197, 25, 36, 1);
}

/* Normal paragraph */
p {
  font-family: "Arial;
  font-size: 11pt;
  font-weight: 300;
}

/* Links */
a, a:active, a:visited {
  color: #000000;
}

/* ---------------------- Aside ------------------- */
/* Normal aside - for citations */
aside {
    width: 40%;
    float: right;
    margin: 0% 0% 0% 1%;
}

aside > blockquote {
  margin: 0 .1in 0 .25in;
}

aside > blockquote > p {
    margin: 0in 0 0 .1in;
    font-size: 16pt;
    font-weight: 400;
}

.quote-author {
    margin: .1in 0 .1in .1in;
    font-size: 10pt;
    font-weight: 400;
    text-align: right;
}

/* Information call out */
aside.info-callout {
  width: 40%;
  border: none;
  margin: 0.1in 0.1in 0.1in .25in;
}

.info-callout-title {
  background-color: #347686;
  color: white;
  font-size: 14pt;
  font-weight: 700;
  margin: 0 0 8pt 0;
  padding: 4pt;
}

.info-callout p:not(.info-callout-title) {
  margin: 0;
}

/* ----------------- Tables -------------------- */
table {
  font-family: "Lato", Arial, serif;
  font-weight: 300;
  font-size: 12pt;
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 100%;
}
/*
table thead th {
  border-bottom: 1px solid #ddd;
}
thead, tfoot, tr:nth-child(even) {
  background: #eee;
}
*/

td {
  padding: 10pt 0 10pt 0;
}

/* ----------------- Images -------------------- */
img {
  max-width: 100%;
}

/* -------------------- Captions ----------------------- */
p.caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
}

table caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
  margin-bottom: 5px;
}

.figure {
  break-inside: avoid;
}

/* ----------------- List style ------------------- */
ul {
  list-style-type: disc;
}

/* ----------------- Footnotes -------------------- */
.footnotes {
  font-size: 90%;
}
.footnotes hr::before {
  content: "Footnotes:";
}
.footnotes hr {
  border: none;
}
.footnote-break {
  width: 1in;
}

.footnote-ref {
  text-decoration: none;
}

.footnote sup {
  padding-right: 0.5em;
}


/* --------------------- Misc --------------- */
abbr {
  text-decoration: none;
}

blockquote {
  font-size: 150pt;
}

.quote-footer {
  float: right;
  font-style: italic;
}

code {
  hyphens: none;
}

/* pre */
pre {
  padding: 1em;
}
pre[class] {
  background: #f9f9f9;
}

pre.numberSource a.sourceLine {
  left: 0 !important;
  text-indent: -5em
}
pre.numberSource {
  margin-left: 0 !important;
}

/* ------------------ Table of Contents/Figures/Tables formatting ----------------- */
/* TOC title */
.toc-title, .lof h1, .lot h1 {
  font-size: 24pt;
  font-weight: 900;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

/* spacing between elements + no underline */
.toc a, .lof a, .lot a{
  line-height: 25px;
  text-decoration: none;
}

/* to remove the bullets + cut the dots at the end --> took it back from default.css */
.toc ul, .lof ul, .lot ul {
    list-style: none;
    padding-left: 0;
    overflow-x: hidden;
}

.toc li li, .lof li li, .lot li li {
  padding-left: 1em;
    page-break-before: always;
}

/* here each level contain the following one so we have to override the properties */
/* first level */
.toc ul > li > a, .lof ul > li > a, .lot ul > li > a  {
  font-weight: 600;
}

/* second level and more */
.toc ul > li > ul > li > a {
  font-weight: 300;
}

/* third level */
.toc > ul > li > ul > li > ul > li > a {
  font-weight: 300;
}

/* background color */
.toc ul, .toc a, .toc a::after, .lof ul, .lof a, .lof a::after, .lot ul, .lot a, .lof a::after   {
  background-color: #ffffff;
  page-break-before: always;

}

.toc{
    break-after: page;
}

@page  {
      
  @bottom-right {
    content: counter(page);
  }
}
