
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: green;
  color: #fff;
}

.card {
       border: 2px solid green;
       border-radius: 5px;
       }

.card:hover {
       border: 3px solid green;
       border-radius: 5px;
       }

/*
.card-header {
        background: green;
       }
*/

.card-header:hover {
        background: green;
        color: white;
       }
       
.w-100 {
       color: green;
       }
       
.w-100:hover {
       color: white;
       }

/*       
.card-title w-100 {
         color: orange !important;
       }
       */
       